/* 
  Sets size of profile picture and changes the shape to a circle
*/
.imageAvatar {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

.logoutButton {
  border: 0;
  text-align: left;
}

.profileImage {
  border: 0;
}

.profileName {
  font-size: 30px;
  border: 0;
}

.profileEmail {
  font-size: 20px;
  border: 0;
}

ion-scroll[direction=y] {
  height: 80vh;
}




@media (max-width: 400px) {
  .listingThumbnail {
    width: 84vw;
    height: 50vh;
  }
}

@media (min-width: 400px) and (max-width: 800px) {
  .listingThumbnail {
    width: 38vw;
  }
  .item { 
    width: 45vw;
  }
}

@media (min-width: 800px) {
  .listingThumbnail {
    width: 28vw;
  }
}

.cardTitle {
  font-size: 1.5em;
}




