/* 
  Sets size of profile picture and changes the shape to a circle
*/
.imageAvatar {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

.logoutButton {
  border: 0;
  text-align: left;
}

.profileImage {
  border: 0;
}

.profileName {
  font-size: 30px;
  border: 0;
}

.profileEmail {
  font-size: 20px;
  border: 0;
}

/*
allows for scrolling capability; 
80vh is required to allow for full view of listings
*/
ion-scroll[direction=y] {
  height: 80vh;
}

/*
if screen width is less than or equal to 400 px, then
make listings fill the entire page
*/
@media (max-width: 400px) {
  .listingThumbnail {
    width: 84vw;
    height: 50vh;
  }
}

/*
if screen width is between 401 and 799 px, then 
change listings to fill 2 columns
*/
@media (min-width: 401px) and (max-width: 799px) {
  .listingThumbnail {
    width: 38vw;
  }
  
  .item { 
    width: 45vw;
  }

  /*
  .item affects tagCloud, so tagCloud is respecified here
  */
  .tagCloud {
    width: 100vw;
  }
}

/*
if screen width is 800 px or greater, then 
change listings to fill 3 columns
*/
@media (min-width: 800px) {
  .listingThumbnail {
    width: 28vw;
  }
}

/*
after clicking on a card, .listingThumbnailDetail 
is loaded
*/
.listingThumbnailDetail {
  width: 100vw;
}

.cardTitle {
  font-size: 1.5em;
}

/*This affects the styling for the Transaction tab header*/
.transactionButton {
  width: 100%;
}

