<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{listing.view}} Details">
  <ion-content>
        
    <ion-list>
      <ion-item class="detailView">

        <div class="card">
          <div class="item">
      
            <p><img class="listingThumbnailDetail" ng-src="{{currentListing.img }}">
              <div ng-repeat="item in currentListing.items">
                <img src="images/tag.png" ng-style="position(item)"{{item}}> 
                <i class="icon ion-social-usd" ng-style="positionText(item)"{{item}}> {{item.price}}</i>
              </div>
            </p>
            <h1 class="cardTitle">{{currentListing.title}}</h1>
            <p class="cardUser">Posted by {{currentListing.user}}</p>
            <p class="cardTag">Tags: {{currentListing.allTags}}</p>  
              
          </div>
          
          <div class="item" ng-repeat="item in currentListing.items">
            <ion-checkbox ng-model="checked" ng-change="check(checked, item)" ng-disabled="!{{item.isActive}}">
              Item: {{item.text}}
              <br>
              Price: ${{item.price}}
              <br>
              Tags: {{item.tags}}
              <br>
              Position: ({{item.x}}, {{item.y}})
              <br>
              ItemID: {{item.id}}
              <br>
              Fit For Sale: {{item.isActive}}
            </ion-checkbox>
          </div>

          <div class="item">
            
            <input class="buyerPrice" ng-model="buyerPrice" ng-minlength="1" placeholder="Offer"> 
            </input>
            <button ng-click="submitPrice(buyerPrice)"> 
                Submit Here
            </button>

          </div>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
