
<ion-view view-title="Search" hide-nav-bar="true">
  <ion-content>

    <div class="bar bar-header bar-positive item-input-inset">
      <tag-search class="search-wrapper-light" placeholder="Search" min-length="0" model="tags" watch="true" enter-callback="filterOne">
      </tag-search>
      <button class="button button-clear" ng-click="addTag(search.value, filterOne)">
        Add
      </button>
    </div>
    
    <ion-list>
      <ion-item class="tagCloud">
        <button class="button button-small button-stable" ng-repeat="tag in tagCloud" ng-click="removeTag(tag, filterAll)">
        {{tag}}
        </button>
      </ion-item>

      <ion-item collection-repeat="tag in tagResults" class="item" ng-click="addTag(tag[0], filterOne)">
        {{tag[0]}} : {{tag[1]}} listings
      </ion-item>
    </ion-list>
      
  <ion-scroll direction="y">
    <div masonry> 
      <!-- give ability to click on card below -->
      <div class="masonry-brick" ng-repeat="result in results" ng-click="selectCard(result)">
        <div class="card">
          <div class="item cardStuff">
            <p><img class="listingThumbnail" ng-src="{{ result.img }}"></p>
            <h1 class="cardTitle">{{result.title}}</h1>
            <p class="cardUser">Posted by {{result.user}}</p>
            <p class="cardTag">Tags: {{result.allTags}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-scroll> 
  </ion-content>
</ion-view>
