<ion-view view-title="Profile">
  <ion-content>
    <ion-list class="profileList">

      <ion-item class="logoutButton"><button class="button button-positive" ng-click="logout()">Logout</button></ion-item>

      <ion-item class="profileImage text-center"><img class="image" ng-src="{{profile.photo}}"></ion-item>

      <ion-item class="profileName text-center">{{profile.name}}</ion-item>

      <ion-item class="profileEmail text-center">{{profile.email}}</ion-item>
    
    </ion-list>
  </ion-content>
</ion-view>
