<ion-view view-title="Profile">
  <ion-content>
    <ion-list class="profileList">

      <ion-item><button class="button button-positive" ng-click="logout()">Logout</button></ion-item>

      <ion-item class="profileImage text-center"><img class="image" ng-src="{{profileImage}}"></ion-item>

      <ion-item class="profileName text-center">{{profileDisplayName}}</ion-item>

      <ion-item class="profileEmail text-center">{{profileEmail}}</ion-item>

    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    
    </ion-list>
  </ion-content>
</ion-view>
