<ion-view view-title=" My Profile">
  <ion-content class='profile'>
    <ion-list class="profileList">
      <br>
      <div class="logoutButtonContainer">
        <button class="logoutButton button button-positive" ng-click="logout()">Logout</button>
      </div>
      <ion-item class="profileImage"><img class="imageAvatar" ng-src="{{profile.photo}}"></ion-item>
      <center><div class="userInfo">
        <ion-item class="profileName">{{profile.name}}</ion-item>
        <ion-item class="profileEmail">{{profile.email}}</ion-item>
      </div></center>  
      <table class="topTable">
        <tr class="top">
          <th class="statistics">
            Total Offers
          </th>
        </tr>
      </table>
      <table>
        <tr>
          <td class="statistics">Buy</td>
          <td class="statistics">Sell</td>
        </tr>
        <tr>
          <td>{{activeUserBuyOffers.length}}</td>
          <td>{{activeUserSellOffers.length}}</td>
        </tr>
      </table>
    </ion-item>
      <br>
    </ion-list>
  </ion-content>
</ion-view>
