<ion-view> 
  <ion-content class="padding has-tabs-top"> 
    <ion-list>
     <!--  <ion-item ng-click="" ng-repeat="offer in listingOffers"> -->
        <div class="card" ng-repeat="offer in listingOffers" >
          <div class="item item-thumbnail-left item-icon-right" ng-click="viewOffer(offer)">
            <img src="{{offer.buyer.photo}}">
            <strong>Offer from {{offer.buyer.name}}</strong>
            <p ng-repeat="item in offer.items | limitTo:3">
              <span>{{item.text}}</span></p>
            <i class="icon ion-social-usd">{{offer.totalBuyerPrice}}</i>
          </div>
        </div>
      <!-- </ion-item> -->
    <ion-list>
  </ion-content>
</ion-view>