<ion-view title="Buy" class="transaction">
  <ion-content class="has-tabs-top">
    <ion-list>
      <div class="card" ng-hide="noListings" ng-repeat="value in userOffers">
         <div class="item item-thumbnail-left item-icon-right" ng-click="viewOffer(value)">
          <img src="{{value.img}}">
          <div class="listingDetails">
          <p class="transactionListingTitle">{{value.listingTitle}}</p>
          <p class="itemText"><span ng-repeat="item in value.items">{{item.text}}</span></p>
          <p class="buyerPrice">${{value.totalBuyerPrice}}</p>
          <p class="createdOn">Offer made {{value.moment}}</p>
          <i class="icon ion-arrow-right-b"></i>
          </div>
        </div>
      </div>
      <div class="noListings" ng-show="noListings">You haven't created any listings.</div>
    <ion-list>
  </ion-content>
</ion-view>

