<ion-view title="Buy" class="transaction">
  <ion-content class="padding has-tabs-top">
    <ion-list>
      <div class="card" ng-repeat="value in userOffers">
         <div class="item item-thumbnail-left item-icon-right" ng-click="viewOffer(value)">
          <img src="{{value.img}}">
          <strong>{{value.messages}}</strong>
          <p><span ng-repeat="item in value.items">{{item.text}}</span></p>
          <p>${{value.totalBuyerPrice}}</p>
          <i class="icon ion-arrow-right-b"></i>
        </div>
      </div>
    <ion-list>
  </ion-content>
</ion-view>

