<ion-view title="Buy" class="transaction">
  <ion-content class="padding has-tabs-top">
    <ion-list>
      <div class="card" ng-repeat="property in offer">
         <div class="item item-thumbnail-left item-icon-right" ng-click="view(property.seller.name)">
          <img ng-src="{{property.seller.photo}}">
          <strong class="title">{{property.seller.name}}</strong>
          <i class="icon ion-arrow-right-b"></i>
        </div>
      </div>
    <ion-list>
  </ion-content>
</ion-view> 

